Repository untra/operator: changes, and which Codecov flags are due for each by the changed paths.
All: rust, typescript, vscode-extension, opr8r

docs checksums.yml
  .github/workflows/build.yaml
  docs/_data/checksums.yml
  docs/downloads/index.md
Due: none

docs touchups vscode-extension improvements, cleanup zed-extension definition ; not ready for primetime
  .github/workflows/zed-extension.yaml
  .gitignore
  README.md
  docs/index.md
  src/agents/launcher/llm_command.rs
  vscode-extension/.vscodeignore
  vscode-extension/CHANGELOG.md
  vscode-extension/src/extension.ts
  zed-extension/Cargo.lock
  zed-extension/Cargo.toml
  zed-extension/LICENSE
  zed-extension/README.md
  zed-extension/TODO.md
  zed-extension/extension.toml
  zed-extension/src/lib.rs
Due: rust, vscode-extension

improved command from tmux launching
  src/agents/launcher/llm_command.rs
  src/agents/launcher/prompt.rs
  src/agents/launcher/tests.rs
  src/agents/launcher/tmux_session.rs
  src/agents/tmux.rs
  src/app.rs
  src/git/cli.rs
  src/git/worktree.rs
  src/main.rs
  src/ui/mod.rs
  src/ui/terminal_guard.rs
  src/ui/terminal_suspend.rs
  tests/fixtures/long_echo_command.sh
  tests/fixtures/test_long_command.sh
  tests/git_integration.rs
  tests/launch_integration.rs
Due: rust

docs updates further
  docs/getting-started/installation.md
  docs/getting-started/prerequisites.md
Due: none

asset adjustments
  .github/workflows/vscode-extension.yaml
  Cargo.lock
  Cargo.toml
  README.md
  docs/_includes/head.html
  docs/assets/img/operator_logo.svg
  docs/assets/img/patricia_128.png
  docs/assets/img/patricia_512.png
Due: none

support for long commands in tmux, session detach safety controls
  bindings/OperatorOutput.ts
  bindings/StepCompleteRequest.ts
  bindings/StepCompleteResponse.ts
  opr8r/src/api.rs
  opr8r/src/main.rs
  opr8r/src/output_parser.rs
  opr8r/src/runner.rs
  src/agents/launcher/interpolation.rs
  src/main.rs
  src/rest/dto.rs
  src/rest/routes/launch.rs
  src/schemas/operator_output.schema.json
  src/setup.rs
Due: rust, opr8r

docs improvements, more better words
  docs/getting-started/kanban/jira.md
  docs/getting-started/kanban/linear.md
  docs/index.md
  docs/kanban/index.md
Due: none

vscode extension improvements
  vscode-extension/CHANGELOG.md
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/walkthrough.ts
  vscode-extension/test/suite/walkthrough.test.ts
  vscode-extension/walkthrough/connect-kanban.md
  vscode-extension/walkthrough/install-llm-tool.md
  vscode-extension/walkthrough/select-directory.md
  vscode-extension/walkthrough/welcome.md
Due: vscode-extension

test vscode-extension publishing
  .github/workflows/vscode-extension.yaml
Due: none

treeshake the vscode extension further
  vscode-extension/.vscodeignore
Due: none

docs config details update
  docs/_config.yml
  docs/assets/css/main.css
Due: none

disable support for --json-schema structured steps (for now)
  docs/index.md
  docs/llm-tools/index.md
  docs/schemas/issuetype.md
  opr8r/README.md
  src/agents/launcher/llm_command.rs
Due: rust

refactor setup into many files
  src/ui/setup.rs
  src/ui/setup/mod.rs
  src/ui/setup/steps/acceptance.rs
  src/ui/setup/steps/collection.rs
  src/ui/setup/steps/confirm.rs
  src/ui/setup/steps/kanban.rs
  src/ui/setup/steps/mod.rs
  src/ui/setup/steps/startup.rs
  src/ui/setup/steps/task_fields.rs
  src/ui/setup/steps/welcome.rs
  src/ui/setup/steps/wrapper.rs
  src/ui/setup/tests.rs
  src/ui/setup/types.rs
Due: rust

git worktree is optional and part of setup
  bindings/GitConfig.ts
  src/agents/launcher/llm_command.rs
  src/agents/launcher/worktree_setup.rs
  src/config.rs
  src/git/cli.rs
  src/setup.rs
  src/ui/setup/mod.rs
  src/ui/setup/steps/wrapper.rs
  src/ui/setup/tests.rs
  src/ui/setup/types.rs
Due: rust

operator settings unlock with added configuration
  bindings/AssessTicketResponse.ts
  bindings/ProjectSummary.ts
  src/rest/dto.rs
  src/rest/mod.rs
  src/rest/routes/mod.rs
  src/rest/routes/projects.rs
  vscode-extension/.eslintrc.json
  vscode-extension/package.json
  vscode-extension/src/api-client.ts
  vscode-extension/src/config-panel.ts
  vscode-extension/src/extension.ts
  vscode-extension/webview-ui/.eslintrc.json
  vscode-extension/webview-ui/App.tsx
  vscode-extension/webview-ui/components/ConfigPage.tsx
  vscode-extension/webview-ui/components/SidebarNav.tsx
  vscode-extension/webview-ui/components/sections/CodingAgentsSection.tsx
  vscode-extension/webview-ui/components/sections/GitRepositoriesSection.tsx
  vscode-extension/webview-ui/components/sections/KanbanProvidersSection.tsx
  vscode-extension/webview-ui/components/sections/PrimaryConfigSection.tsx
  vscode-extension/webview-ui/components/sections/ProjectsSection.tsx
  vscode-extension/webview-ui/types/messages.ts
Due: rust, vscode-extension

opr8r signed for macos
  .github/workflows/build.yaml
  .github/workflows/opr8r.yaml
  .github/workflows/vscode-extension.yaml
  scripts/codesign.sh
  scripts/notarize.sh
Due: none

azure pipelines artifact signing
  .github/workflows/build.yaml
  .github/workflows/opr8r.yaml
  .github/workflows/sign-windows.yaml
  azure-pipelines.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

tool config updates by project
  src/llm/tools/claude.json
  src/llm/tools/codex.json
  src/llm/tools/gemini.json
  src/llm/tools/tool_config.schema.json
Due: rust

artifactsigning
  azure-pipelines.yml
Due: none

manual version rev
  Cargo.lock
  Cargo.toml
  VERSION
  backstage-server/package.json
  docs/_config.yml
  opr8r/Cargo.lock
  opr8r/Cargo.toml
  vscode-extension/package.json
  vscode-extension/src/webhook-server.ts
Due: vscode-extension

initial delegators and llm tools expansion
  bindings/Config.ts
  bindings/CreateDelegatorRequest.ts
  bindings/Delegator.ts
  bindings/DelegatorLaunchConfig.ts
  bindings/DelegatorLaunchConfigDto.ts
  bindings/DelegatorResponse.ts
  bindings/DelegatorsResponse.ts
  bindings/LlmToolsConfig.ts
  bindings/SkillDirectoriesOverride.ts
  bindings/SkillEntry.ts
  bindings/SkillsResponse.ts
  config/default.toml
  src/agents/launcher/llm_command.rs
  src/agents/launcher/tests.rs
  src/app.rs
  src/bin/generate_types.rs
  src/config.rs
  src/llm/detection.rs
  src/llm/tool_config.rs
  src/rest/dto.rs
  src/rest/mod.rs
  src/rest/openapi.rs
  src/rest/routes/delegators.rs
  src/rest/routes/mod.rs
  src/rest/routes/skills.rs
Due: rust

show me a signed windows build
  .github/workflows/vscode-extension.yaml
  vscode-extension/webview-ui/types/defaults.ts
Due: none

manual rev to 0.1.20
  Cargo.lock
  Cargo.toml
  VERSION
  backstage-server/package.json
  bump-version.sh
  docs/_config.yml
  opr8r/Cargo.toml
  vscode-extension/package.json
  vscode-extension/src/webhook-server.ts
Due: vscode-extension

pr: none for azure pipelines
  azure-pipelines.yml
Due: none

v1 artifact signing
  azure-pipelines.yml
Due: none

bump
  Cargo.lock
  Cargo.toml
  VERSION
  backstage-server/package.json
  docs/_config.yml
  opr8r/Cargo.toml
  vscode-extension/package.json
  vscode-extension/src/webhook-server.ts
Due: vscode-extension

use powershell inline script
  Cargo.lock
  Cargo.toml
  VERSION
  azure-pipelines.yml
  backstage-server/package.json
  docs/_config.yml
  opr8r/Cargo.toml
  vscode-extension/package.json
  vscode-extension/src/webhook-server.ts
Due: vscode-extension

readme touchups, code signing finagling so close
  Cargo.lock
  Cargo.toml
  README.md
  VERSION
  backstage-server/package.json
  docs/_config.yml
  opr8r/Cargo.toml
  vscode-extension/package.json
  vscode-extension/src/webhook-server.ts
Due: vscode-extension

artifact signing with 'Artifact Signing Certificate Profile Signer' rbac role enabled
  Cargo.lock
  Cargo.toml
  VERSION
  azure-pipelines.yml
  backstage-server/package.json
  docs/_config.yml
  opr8r/Cargo.toml
  vscode-extension/package.json
  vscode-extension/src/webhook-server.ts
Due: vscode-extension

Trusted Signing account is in East US
  Cargo.lock
  Cargo.toml
  VERSION
  azure-pipelines.yml
  backstage-server/package.json
  docs/_config.yml
  docs/index.md
  opr8r/Cargo.toml
  vscode-extension/package.json
  vscode-extension/src/webhook-server.ts
Due: vscode-extension

more clippy linting fixes
  .github/workflows/vscode-extension.yaml
  Cargo.toml
  src/agents/agent_switcher.rs
  src/agents/hooks/mod.rs
  src/agents/launcher/llm_command.rs
  src/agents/launcher/mod.rs
  src/agents/launcher/step_config.rs
  src/agents/monitor.rs
  src/agents/sync.rs
  src/api/anthropic.rs
  src/api/providers/ai/anthropic.rs
  src/api/providers/ai/mod.rs
  src/backstage/scaffold.rs
  src/git/worktree.rs
  src/notifications/linux.rs
  src/permissions/translator.rs
  src/queue/watcher.rs
  tests/git_integration.rs
  vscode-extension/package-lock.json
  vscode-extension/package.json
Due: rust

git provider doc refinement, rust lints
  docs/getting-started/git/github.md
  docs/getting-started/git/gitlab.md
  docs/getting-started/git/index.md
  docs/getting-started/git/provider-support.md
  src/rest/routes/llm_tools.rs
  src/ui/dashboard.rs
Due: rust

zellij test tightening
  .github/workflows/integration-tests-matrix.yml
  README.md
  scripts/ci/run-zellij-integration.sh
  tests/launch_common/mod.rs
  tests/launch_integration_zellij.rs
  vscode-extension/src/sections/connections-section.ts
Due: vscode-extension

test updates
  src/rest/routes/launch.rs
  vscode-extension/src/status-provider.ts
  vscode-extension/test/suite/status-provider.test.ts
Due: rust, vscode-extension

Path conditions:
  rust: any of: src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
  typescript: any of: backstage-server/packages/, backstage-server/src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
  vscode-extension: any of: vscode-extension/src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
  opr8r: any of: opr8r/src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
