Repository untra/operator: changes, and which Codecov flags are due for each by the changed paths.
All: rust, typescript, vscode-extension, opr8r

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
      rust:
        target: auto
        threshold: 2%
        flags:
          - rust
      typescript:
        target: auto
        threshold: 2%
        flags:
          - typescript
      vscode-extension:
        target: auto
        threshold: 2%
        flags:
          - vscode-extension
      opr8r:
        target: auto
        threshold: 2%
        flags:
          - opr8r
    patch:
      default:
        target: 80%

flags:
  rust:
    paths:
      - src/
    carryforward: true
  typescript:
    paths:
      - backstage-server/packages/
      - backstage-server/src/
    carryforward: true
  vscode-extension:
    paths:
      - vscode-extension/src/
    carryforward: true
  opr8r:
    paths:
      - opr8r/src/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

ignore:
  - "tests/**"
  - "backstage-server/e2e/**"
  - "vscode-extension/test/**"

f
  opr8r/Cargo.lock
Due: none

vscode-extension
  Makefile
  vscode-extension/webview-ui/types/defaults.ts
Due: none

all the build commands
  .githooks/pre-push
  CLAUDE.md
  Makefile
  ui/src/routes/onboarding/steps.tsx
  vscode-extension/src/status-provider.ts
  vscode-extension/test/suite/status-provider.test.ts
Due: vscode-extension

storybook test adjustment, warning color
  tests/feature_parity_test.rs
  webcomponents/src/styles/semantic.css
Due: none

layout adjustment
  bindings/SetupStep.ts
  docs/startup/index.md
  src/startup/steps.rs
  tests/setup_parity.rs
  ui/src/Layout.tsx
  ui/src/profiles-context.module.css
  ui/src/profiles-context.tsx
  ui/src/routes/ConfigPage.tsx
  ui/src/routes/onboarding/OnboardingPage.module.css
  ui/src/routes/onboarding/OnboardingPage.tsx
  ui/src/routes/onboarding/steps.tsx
  ui/src/routes/onboarding/types.ts
  webcomponents/src/components/AppShell.module.css
  webcomponents/src/components/AppShell.test.tsx
  webcomponents/src/components/AppShell.tsx
  webcomponents/src/index.ts
Due: rust

license implementation closer
  .github/workflows/build.yaml
  Cargo.lock
  Cargo.toml
  build.rs
  docs/cli/index.md
  docs/getting-started/premium/index.md
  opr8r/Cargo.lock
  opr8r/Cargo.toml
  opr8r/src/api.rs
  src/agents/launcher/coder.rs
  src/agents/launcher/tests.rs
  src/api/anthropic.rs
  src/api/github.rs
  src/api/providers/ai/anthropic.rs
  src/api/providers/repo/github.rs
  src/auth/egress.rs
  src/env_vars.rs
  src/http_client.rs
  src/lib.rs
  src/licensing.rs
  src/main.rs
  src/rest/routes/targets.rs
  src/rest/server.rs
  src/services/git_onboarding.rs
  src/trust_verify.rs
  testdata/trust-vectors.json
  tests/licensing_integration.rs
  tests/rest_api_integration.rs
  tests/trust_vectors.rs
Due: rust, opr8r

regenerate bindings
  .githooks/pre-push
  Cargo.toml
  bindings/Config.ts
  bindings/MultiModelConfig.ts
  src/app/agents.rs
  src/app/keyboard.rs
  src/app/tests.rs
  src/ui/dialogs/kanban_onboarding.rs
Due: rust

defaultClient
  clippy.toml
  opr8r/src/api.rs
  src/api/providers/kanban/github_projects.rs
  src/api/providers/kanban/jira.rs
  src/api/providers/kanban/linear.rs
  src/http_client.rs
  src/notifications/webhook_integration.rs
  ui/src/routes/onboarding/OnboardingPage.tsx
  webcomponents/stories/components/AppShell.stories.tsx
Due: rust, opr8r

fixes
  clippy.toml
  opr8r/src/api.rs
  opr8r/src/http_client.rs
  opr8r/src/main.rs
Due: opr8r

new linter who dis
  webcomponents/stories/components/AppShell.stories.tsx
Due: none

approaching correct
  docs/llm-tools/index.md
  docs/llms.txt
  docs/schemas/index.md
  docs/schemas/issuetype.md
  scripts/cicdprep.sh
  src/docs_gen/schema_index.rs
  src/schemas/issuetype_schema.json
Due: rust

agnt plugin updates
  AGENTS.md
  Cargo.toml
  Makefile
  agnt-plugin/README.md
  agnt-plugin/lib/operator-client.js
  agnt-plugin/lib/operator-client.test.js
  agnt-plugin/manifest.json
  agnt-plugin/run-step.js
  bindings/ItemSource.ts
  deny.toml
  docs/configuration/index.md
  docs/getting-started/integrations/agnt.md
  docs/getting-started/integrations/index.md
  docs/schemas/issuetype.md
  src/templates/schema.rs
  src/workflow_gen/agnt.rs
  src/workflow_gen/export.rs
Due: rust

no more githooks plz
  AGENTS.md
  ui/src/components/ticket-panels.test.tsx
  ui/src/routes/auth-pages.test.tsx
  ui/src/routes/model-providers-page.test.tsx
  ui/src/routes/onboarding/steps.test.tsx
  ui/src/routes/security-page.test.tsx
  ui/src/test-webcomponents.tsx
  vscode-extension/src/mcp-connect.ts
  vscode-extension/test/suite/mcp-connect.test.ts
Due: vscode-extension

plz no more githooks
  AGENTS.md
  ui/src/api/architecture.test.ts
  ui/src/api/hooks.test.tsx
  ui/src/components/ticket-panels.test.tsx
  ui/src/routes/auth-pages.test.tsx
  ui/src/routes/model-providers-page.test.tsx
  ui/src/routes/onboarding/steps.test.tsx
  ui/src/routes/security-page.test.tsx
  ui/src/test-fetch.ts
  vscode-extension/src/mcp-connect.ts
  vscode-extension/test/suite/mcp-connect.test.ts
Due: vscode-extension

tests for operator mockmodule
  ui/src/api/hooks.test.tsx
  ui/src/components/ticket-panels.test.tsx
  ui/src/routes/auth-pages.test.tsx
  ui/src/routes/model-providers-page.test.tsx
  ui/src/routes/onboarding/steps.test.tsx
  ui/src/routes/security-page.test.tsx
  ui/src/test-fetch.ts
  ui/src/test-webcomponents.tsx
Due: none

misc frontend bug fixes redux
  ui/src/profiles-context.module.css
  ui/src/profiles-context.test.tsx
  ui/src/profiles-context.tsx
  ui/src/routes/StatusPage.tsx
  ui/src/routes/onboarding/steps.test.tsx
  ui/src/routes/onboarding/steps.tsx
  ui/src/routes/status-page.test.tsx
  ui/src/test-webcomponents.tsx
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/config-panel.ts
  vscode-extension/tsconfig.webview.json
  vscode-extension/webview-ui/App.tsx
  vscode-extension/webview-ui/components/kanban/ProviderCard.tsx
  vscode-extension/webview-ui/components/sections/ModelProvidersSection.test.tsx
  vscode-extension/webview-ui/components/sections/ModelProvidersSection.tsx
  vscode-extension/webview-ui/state/addProject.test.ts
  vscode-extension/webview-ui/state/addProject.ts
  vscode-extension/webview-ui/test-dom.ts
  vscode-extension/webview-ui/types/messages.ts
  webcomponents/src/components/AppShell.module.css
  webcomponents/src/components/AppShell.test.tsx
  webcomponents/src/components/AppShell.tsx
  webcomponents/stories/components/AppShell.stories.tsx
Due: vscode-extension

rust
  src/main.rs
  src/profiles.rs
  tests/acp_integration.rs
  tests/mcp_stdio_integration.rs
  tests/setup_parity.rs
Due: rust

acp integration fix
  tests/acp_integration.rs
Due: none

apple developer agreement
  .github/workflows/build.yaml
  Cargo.lock
  Cargo.toml
  VERSION
  agnt-plugin/manifest.json
  agnt-plugin/package.json
  charts/operator/Chart.yaml
  coder-module/main.tf
  docs/_config.yml
  opr8r/Cargo.lock
  opr8r/Cargo.toml
  scripts/ci/preflight-apple.sh
  vscode-extension/package.json
  vscode-extension/src/webhook-server.ts
  zed-extension/Cargo.lock
  zed-extension/Cargo.toml
  zed-extension/extension.toml
Due: vscode-extension

preflight apple gates release, so it can be replayed
  .github/workflows/build.yaml
  scripts/ci/preflight-apple.sh
  tests/distribution_bundling.rs
Due: none

release workflow tests
  docs/schemas/openapi.json
  tests/distribution_bundling.rs
  tests/release_workflow.rs
  vscode-extension/package-lock.json
Due: none

glob override, update vscode-extension icons
  .gitignore
  vscode-extension/images/icons/dist/operator-icons.css
  vscode-extension/images/icons/dist/operator-icons.json
  vscode-extension/images/icons/dist/operator-icons.woff
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/pnpm-lock.yaml
Due: none

apple developer agreement (#121)
  .github/workflows/build.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
  VERSION
  agnt-plugin/manifest.json
  agnt-plugin/package.json
  charts/operator/Chart.yaml
  coder-module/main.tf
  docs/_config.yml
  docs/schemas/openapi.json
  opr8r/Cargo.lock
  opr8r/Cargo.toml
  scripts/ci/preflight-apple.sh
  tests/release_workflow.rs
  vscode-extension/images/icons/dist/operator-icons.css
  vscode-extension/images/icons/dist/operator-icons.json
  vscode-extension/images/icons/dist/operator-icons.woff
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/pnpm-lock.yaml
  vscode-extension/src/webhook-server.ts
  zed-extension/Cargo.lock
  zed-extension/Cargo.toml
  zed-extension/extension.toml
Due: vscode-extension

testing casa deploy
  .forgejo/workflows/deploy-casa.yaml
  Dockerfile.local
  charts/operator/README.md
  charts/operator/templates/statefulset.yaml
  tests/helm_chart.rs
Due: none

testing casa deployment, advanced clippy fix
  .forgejo/README.md
  .forgejo/workflows/deploy-casa.yaml
  .github/workflows/build.yaml
  Dockerfile.local
  docs/getting-started/premium/index.md
  opr8r/src/api.rs
  opr8r/src/main.rs
  src/api/providers/kanban/jira.rs
  src/api/providers/kanban/openspec.rs
  src/app/pr_workflow.rs
  src/docs_gen/taxonomy.rs
  src/main.rs
  src/mcp/mod.rs
  src/notifications/service.rs
  src/rest/error.rs
  src/rest/middleware/auth.rs
  src/rest/routes/auth.rs
  src/rest/routes/skills.rs
  src/state.rs
  src/ui/setup/tests.rs
Due: rust, opr8r

more casa testing, cleanup of encoding reimplementations
  .forgejo/README.md
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/relay/src/socket_path.rs
  docs/configuration/index.md
  docs/getting-started/kanban/linear.md
  docs/schemas/issuetype.md
  src/agents/activity.rs
  src/agents/agent_switcher.rs
  src/agents/launcher/coder.rs
  src/agents/mod.rs
  src/agents/monitor.rs
  src/agents/sync.rs
  src/api/providers/kanban/github_projects.rs
  src/api/providers/kanban/jira.rs
  src/auth/egress.rs
  src/collections/fetch.rs
  src/rest/directory.rs
  src/schemas/issuetype_schema.json
  src/workflow_gen/agnt.rs
  tests/no_handrolled_encoding.rs
Due: rust
