Repository untra/operator: changes, and which Codecov flags are due for each by the changed paths.
All: rust, typescript, vscode-extension, opr8r

f
  src/api/providers/kanban/github_projects.rs
Due: rust

remove email from user request scope
  src/api/providers/kanban/github_projects.rs
Due: rust

disable macos backstage server codesigning
  .github/workflows/build.yaml
  Cargo.lock
  Cargo.toml
  VERSION
  backstage-server/package.json
  docs/_config.yml
  docs/downloads/index.md
  opr8r/Cargo.lock
  opr8r/Cargo.toml
  vscode-extension/package.json
  vscode-extension/src/webhook-server.ts
Due: vscode-extension

gitlab badge
  README.md
Due: none

wip docs words
  docs/delegators/index.md
  docs/startup/index.md
  docs/vscode/index.html
  src/startup/mod.rs
  src/ui/sections/delegator_section.rs
  vscode-extension/src/sections/delegator-section.ts
Due: rust, vscode-extension

feat(relay): merge relay-channel into opr8r as subcommand
  .github/workflows/build.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  crates/relay/Cargo.lock
  crates/relay/Cargo.toml
  crates/relay/src/channel_session.rs
  crates/relay/src/client.rs
  crates/relay/src/hub.rs
  crates/relay/src/lib.rs
  crates/relay/src/protocol.rs
  crates/relay/src/session_name.rs
  crates/relay/src/socket_path.rs
  docs/getting-started/agents/claude.md
  docs/getting-started/agents/codex.md
  docs/index.md
  docs/relay/index.md
  opr8r/Cargo.lock
  opr8r/Cargo.toml
  opr8r/src/cli.rs
  opr8r/src/main.rs
  opr8r/src/relay_server.rs
  src/agents/launcher/cmux_session.rs
  src/agents/launcher/llm_command.rs
  src/agents/launcher/tmux_session.rs
  src/agents/launcher/zellij_session.rs
  src/app/mod.rs
  src/env_vars.rs
  src/lib.rs
  src/main.rs
  src/relay/mod.rs
  src/startup/mod.rs
  tests/relay_integration.rs
Due: rust, opr8r

upgrade rust toolchain to 1.88.0
  .github/workflows/build.yaml
  .github/workflows/docs.yml
  .github/workflows/integration-tests-matrix.yml
  .github/workflows/integration-tests.yml
  docs/superpowers/specs/2026-04-18-polymorphic-steps-handoff.md
  opr8r/src/cli.rs
Due: opr8r

platform support page, fix suggested deficiencies
  .github/workflows/backstage.yaml
  .github/workflows/build.yaml
  .github/workflows/docs.yml
  .github/workflows/integration-tests-matrix.yml
  .github/workflows/integration-tests.yml
  .github/workflows/opr8r.yaml
  .github/workflows/sign-windows.yaml
  .github/workflows/vscode-extension.yaml
  .github/workflows/zed-extension.yaml
  crates/relay/src/lib.rs
  docs/_data/navigation.yml
  docs/getting-started/platform-support.md
  docs/getting-started/prerequisites.md
  opr8r/Cargo.lock
  opr8r/src/main.rs
  opr8r/src/operator_relay.rs
  src/api/kanban_sync.rs
  src/app/mod.rs
  src/app/tests.rs
  src/relay/mod.rs
  src/rest/state.rs
  tests/relay_integration.rs
  vscode-extension/src/status-provider.ts
  vscode-extension/test/suite/status-provider.test.ts
  vscode-extension/webview-ui/App.tsx
  vscode-extension/webview-ui/types/defaults.ts
Due: rust, vscode-extension, opr8r

feat(agents): add max_agents_per_repo config to lift 1-per-repo limit
  bindings/AgentsConfig.ts
  docs/configuration/index.md
  docs/schemas/openapi.json
  src/app/agents.rs
  src/app/tests.rs
  src/config.rs
  src/state.rs
Due: rust

update gitignore
  .gitignore
Due: none

dependency refinement and tightening for supply chain controls
  .github/dependabot.yml
  .github/workflows/build.yaml
  .github/workflows/docs.yml
  .github/workflows/integration-tests-matrix.yml
  .github/workflows/integration-tests.yml
  .github/workflows/opr8r.yaml
  .github/workflows/vscode-extension.yaml
  .github/workflows/zed-extension.yaml
  .tool-versions
  Cargo.lock
  Cargo.toml
  backstage-server/bunfig.toml
  bindings/TicketDetailResponse.ts
  bindings/UpdateTicketStatusRequest.ts
  bindings/UpdateTicketStatusResponse.ts
  build.rs
  src/rest/dto/agents.rs
  src/rest/mod.rs
  src/rest/openapi.rs
  src/rest/routes/mod.rs
  src/rest/routes/tickets.rs
  src/rest/web_ui.rs
  tests/ui_packaging.rs
  ui/bun.lock
  ui/index.html
  ui/package.json
  ui/src/App.tsx
  ui/src/main.tsx
  ui/src/vite-env.d.ts
  ui/tsconfig.json
  ui/vite.config.ts
  vscode-extension/.npmrc
Due: rust

pnpm adjustment
  backstage-server/bunfig.toml
  src/backstage/scaffold.rs
Due: rust

docs site rebuild, clippy fixes
  .npmrc
  docs/cli/index.md
  docs/configuration/index.md
  docs/schemas/config.md
  docs/schemas/openapi.json
  docs/shortcuts/index.md
  scripts/cicdprep.sh
  src/config/config_tests.rs
  src/mcp/tickets.rs
  tests/surface_parity.rs
  vscode-extension/.npmrc
  vscode-extension/images/icons/dist/operator-icons.css
  vscode-extension/images/icons/dist/operator-icons.json
  vscode-extension/images/icons/dist/operator-icons.woff
  vscode-extension/webview-ui/types/defaults.ts
  zed-extension/src/lib.rs
Due: rust

further zed extension wip, gemfile update
  .gitignore
  docs/Gemfile.lock
  src/app/mod.rs
  src/app/status_actions.rs
  src/ui/dashboard.rs
  src/ui/panels.rs
  src/ui/status_panel.rs
  zed-extension/README.md
  zed-extension/TODO.md
  zed-extension/extension.toml
  zed-extension/src/lib.rs
Due: rust

zed extension very much still wip, not yet to my liking
  docs/assets/css/main.css
  docs/getting-started/sessions/zed.md
  src/agents/launcher/worktree_setup.rs
  src/app/tests.rs
  src/backstage/taxonomy.rs
  src/config.rs
  src/config/kanban.rs
  src/llm/detection.rs
  src/notifications/os_integration.rs
  src/notifications/service.rs
  src/services/pr_monitor.rs
  src/startup/mod.rs
  src/ui/setup/mod.rs
  src/ui/setup/types.rs
Due: rust

ui refinement and capabilities ; design system
  CLAUDE.md
  docs/_data/navigation.yml
  docs/_includes/head.html
  docs/assets/css/main.css
  docs/assets/css/tokens.css
  docs/cli/index.md
  docs/design-system/index.md
  docs/schemas/config.md
  src/integrations/inventory.rs
  src/ui/in_progress_panel.rs
  ui/src/Layout.module.css
  ui/src/index.css
  vscode-extension/webview-ui/types/defaults.ts
  zed-extension/src/lib.rs
Due: rust

docker platform support and publishing
  .dockerignore
  .github/workflows/build.yaml
  Dockerfile
  README.md
  docs/_data/navigation.yml
  docs/assets/icons/docker.svg
  docs/getting-started/platforms/docker.md
  docs/getting-started/platforms/index.md
Due: none

good vibey next steps for ui icons design system readme and consistency
  docs/_data/navigation.yml
  docs/_includes/head.html
  docs/_includes/sidebar.html
  docs/assets/css/codicon.css
  docs/assets/css/main.css
  docs/assets/fonts/codicon.ttf
  docs/design-system/index.md
  tests/ui_packaging.rs
  ui/README.md
  ui/bun.lock
  ui/package.json
  ui/src/Layout.module.css
  ui/src/Layout.tsx
  ui/src/components/ConceptIcon.tsx
  ui/src/components/PageHeader.module.css
  ui/src/components/PageHeader.tsx
  ui/src/components/SectionCard.module.css
  ui/src/components/SectionCard.tsx
  ui/src/concepts.ts
  ui/src/main.tsx
  ui/src/routes/ConfigPage.tsx
  ui/src/routes/DashboardPage.module.css
  ui/src/routes/DashboardPage.tsx
  ui/src/routes/IssueTypesPage.tsx
  ui/src/routes/QueuePage.tsx
  ui/src/routes/SectionPage.module.css
  ui/src/routes/SectionPage.tsx
  ui/src/routes/StatusPage.module.css
  ui/src/routes/StatusPage.tsx
  ui/src/sections-context.tsx
Due: none

remove plugins dir
  plugins/plugin-issuetypes/src/api/OperatorApi.ts
  plugins/plugin-issuetypes/src/api/OperatorApiClient.ts
  plugins/plugin-issuetypes/src/api/index.ts
  plugins/plugin-issuetypes/src/api/types.ts
  plugins/plugin-issuetypes/src/components/CollectionsPage.tsx
  plugins/plugin-issuetypes/src/components/IssueTypeDetailPage.tsx
  plugins/plugin-issuetypes/src/components/IssueTypeFormPage.tsx
  plugins/plugin-issuetypes/src/components/IssueTypesPage.tsx
  plugins/plugin-issuetypes/src/components/index.ts
  plugins/plugin-issuetypes/src/hooks/index.ts
  plugins/plugin-issuetypes/src/hooks/useCollections.ts
  plugins/plugin-issuetypes/src/hooks/useIssueTypes.ts
  plugins/plugin-issuetypes/src/index.ts
  plugins/plugin-issuetypes/src/plugin.ts
  plugins/plugin-issuetypes/src/routes.ts
  plugins/plugin-issuetypes/tsconfig.json
Due: none

status connection view improvements
  bindings/WorkflowPreviewResponse.ts
  src/main.rs
  src/rest/dto/workflow.rs
  src/rest/mod.rs
  src/rest/routes/sections.rs
  src/rest/routes/workflow.rs
  src/ui/sections/connections_section.rs
  src/ui/status_panel.rs
  src/workflow_gen/command.rs
  src/workflow_gen/export.rs
  src/workflow_gen/mod.rs
  tests/ui_packaging.rs
  ui/package-lock.json
  ui/package.json
  ui/src/api-client.ts
  ui/src/components/KanbanBoard.module.css
  ui/src/components/KanbanBoard.tsx
  ui/src/components/WorkflowGraphView.module.css
  ui/src/components/WorkflowGraphView.tsx
  ui/src/routes/IssueTypesPage.module.css
  ui/src/routes/IssueTypesPage.tsx
Due: rust

kanban section and onboarding improvements
  bindings/KanbanProviderCatalogEntry.ts
  bindings/RowActionDto.ts
  bindings/SectionRowDto.ts
  shared/types.ts
  src/api/providers/kanban/mod.rs
  src/app/status_actions.rs
  src/bin/generate_types.rs
  src/rest/dto/kanban.rs
  src/rest/dto/sections.rs
  src/rest/mod.rs
  src/rest/openapi.rs
  src/rest/routes/kanban.rs
  src/rest/routes/sections.rs
  src/ui/sections/connections_section.rs
  src/ui/sections/kanban_section.rs
  src/ui/status_panel.rs
  ui/src/components/SectionCard.module.css
  ui/src/components/SectionCard.tsx
  vscode-extension/src/api-client.ts
  vscode-extension/src/kanban-onboarding.ts
Due: rust, vscode-extension

ollama model server attachment, model server crud support
  bindings/LaunchTicketRequest.ts
  bindings/ModelEntry.ts
  bindings/ModelServerKindEntry.ts
  bindings/ModelServerModelsResponse.ts
  bindings/UpdateModelServerRequest.ts
  docs/getting-started/model-servers/index.md
  docs/schemas/openapi.json
  src/agents/delegator_resolution.rs
  src/agents/launcher/cmux_session.rs
  src/agents/launcher/mod.rs
  src/agents/launcher/prompt.rs
  src/agents/launcher/tmux_session.rs
  src/agents/launcher/zellij_session.rs
  src/api/providers/mod.rs
  src/api/providers/model_server/mod.rs
  src/api/providers/model_server/probe.rs
  src/app/agents.rs
  src/app/status_actions.rs
  src/main.rs
  src/mcp/tools.rs
  src/rest/dto/agents.rs
  src/rest/dto/configuration.rs
  src/rest/mod.rs
  src/rest/openapi.rs
  src/rest/routes/launch.rs
  src/rest/routes/model_servers.rs
  src/ui/sections/modelserver_section.rs
  src/ui/status_panel.rs
  vscode-extension/src/extension.ts
  vscode-extension/src/launch-manager.ts
  vscode-extension/src/sections/modelserver-section.ts
  vscode-extension/test/suite/api-client.test.ts
Due: rust, vscode-extension

control wrapper for launching tickets from respective session
  src/config/sessions.rs
  src/rest/mod.rs
  src/rest/routes/agents.rs
  src/ui/sections/connections_section.rs
  src/ui/sections/delegator_section.rs
  src/ui/sections/git_section.rs
  src/ui/sections/issuetype_section.rs
  src/ui/sections/kanban_section.rs
  src/ui/sections/managed_projects_section.rs
  src/ui/sections/modelserver_section.rs
  src/ui/status_panel.rs
  ui/src/Layout.module.css
  ui/src/Layout.tsx
  ui/src/api-client.ts
  ui/src/components/KanbanBoard.module.css
  ui/src/components/KanbanBoard.tsx
  ui/src/components/TicketDetailPanel.module.css
  ui/src/components/TicketDetailPanel.tsx
  ui/src/right-panel.tsx
  ui/src/session-links.ts
  vscode-extension/package.json
  vscode-extension/src/extension.ts
Due: rust, vscode-extension

cleanup and replacement of vscode extension webui code, favoring native ui
  docs/schemas/openapi.json
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/config-panel.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/open-operator-ui.ts
  vscode-extension/webview-ui/App.tsx
  vscode-extension/webview-ui/components/ConfigPage.tsx
  vscode-extension/webview-ui/components/LinkOutCard.tsx
  vscode-extension/webview-ui/components/kanban/CollectionsSubSection.tsx
  vscode-extension/webview-ui/components/kanban/FieldEditor.tsx
  vscode-extension/webview-ui/components/kanban/IssueTypeDrawer.tsx
  vscode-extension/webview-ui/components/kanban/MappingPanel.tsx
  vscode-extension/webview-ui/components/kanban/MappingRow.tsx
  vscode-extension/webview-ui/components/kanban/ProjectRow.tsx
  vscode-extension/webview-ui/components/kanban/ProviderCard.tsx
  vscode-extension/webview-ui/components/kanban/StepEditor.tsx
  vscode-extension/webview-ui/components/kanban/WorkflowPreview.tsx
  vscode-extension/webview-ui/components/sections/KanbanProvidersSection.tsx
  vscode-extension/webview-ui/components/sections/ProjectsSection.tsx
  vscode-extension/webview-ui/types/messages.ts
Due: vscode-extension

build that
  .github/workflows/build.yaml
  .tool-versions
  scripts/cicdprep.sh
  ui/bun.lock
Due: none

workflow generation
  docs/index.md
  docs/schemas/issuetype.md
  src/agents/agent_switcher.rs
  src/issuetypes/schema.rs
  src/main.rs
  src/rest/dto/issue_types.rs
  src/rest/routes/workflow.rs
  src/schemas/issuetype_schema.json
  src/steps/session.rs
  src/templates/schema.rs
  src/templates/step_type.rs
  src/workflow_gen/command.rs
  src/workflow_gen/export.rs
  src/workflow_gen/mod.rs
Due: rust

back to dtolnay/rust-toolchain@1.95
  .github/workflows/build.yaml
  .github/workflows/docs.yml
  .github/workflows/integration-tests-matrix.yml
  .github/workflows/integration-tests.yml
  .github/workflows/opr8r.yaml
  .github/workflows/vscode-extension.yaml
  .github/workflows/zed-extension.yaml
  vscode-extension/webview-ui/types/defaults.ts
Due: none

zed, agnt versions must rev
  .githooks/pre-push
  .github/workflows/build.yaml
  .github/workflows/docs.yml
  CLAUDE.md
  Makefile
  README.md
  agnt-plugin/manifest.json
  agnt-plugin/package.json
  backstage-server/package.json
  bindings/CollectionResponse.ts
  bindings/TemplatesConfig.ts
  bindings/WorkflowHintsDto.ts
  bump-version.sh
  codecov.yml
  docs/schemas/openapi.json
  src/main.rs
  src/mcp/descriptor.rs
  src/mcp/mod.rs
  src/mcp/transport.rs
  src/rest/dto/agents.rs
  src/rest/dto/configuration.rs
  src/rest/dto/issue_types.rs
  src/rest/dto/kanban.rs
  src/ui/setup/steps/hosted.rs
  src/ui/setup/steps/mod.rs
  src/workflow_gen/export.rs
  tests/version_parity.rs
  zed-extension/Cargo.lock
  zed-extension/Cargo.toml
  zed-extension/extension.toml
Due: rust

integration maturity and measurement, feature alignment
  bindings/IntegrationCatalogEntryDto.ts
  bindings/SupportStatus.ts
  docs/maturity/index.md
  docs/schemas/openapi.json
  shared/types.ts
  src/bin/generate_types.rs
  src/config/sessions.rs
  src/docs_gen/integrations.rs
  src/docs_gen/mod.rs
  src/integrations/catalog.rs
  src/integrations/mod.rs
  src/integrations/support_status.rs
  src/main.rs
  src/rest/dto/integrations.rs
  src/rest/dto/mod.rs
  src/rest/mod.rs
  src/rest/openapi.rs
  src/rest/routes/integrations.rs
  src/rest/routes/mod.rs
  src/types/pr.rs
  tests/feature_parity_test.rs
  tests/vertical_parity.rs
Due: rust

Path conditions:
  rust: any of: src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
  typescript: any of: backstage-server/packages/, backstage-server/src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
  vscode-extension: any of: vscode-extension/src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
  opr8r: any of: opr8r/src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
