Repository untra/operator: changes, and which Codecov flags are due for each by the changed paths.
All: rust, typescript, vscode-extension, opr8r

pr 2 store unification
  src/app/mod.rs
  src/app/tickets.rs
  src/issuetypes/loader.rs
  src/issuetypes/mod.rs
  src/startup/templates.rs
  src/ui/dashboard.rs
  src/ui/sections/workflows_section.rs
Due: rust

issue types are among a collection ; clarifying focused effort
  bindings/CreateIssueTypeRequest.ts
  bindings/IssueTypeResponse.ts
  bindings/IssueTypeSummary.ts
  docs/schemas/metadata.md
  docs/schemas/openapi.json
  src/agents/launcher/interpolation.rs
  src/agents/launcher/step_config.rs
  src/agents/launcher/tests.rs
  src/agents/launcher/worktree_setup.rs
  src/agents/sync.rs
  src/api/kanban_sync.rs
  src/app/tests.rs
  src/issuetypes/collection.rs
  src/issuetypes/loader.rs
  src/issuetypes/mod.rs
  src/mcp/tools.rs
  src/queue/creator.rs
  src/queue/ticket.rs
  src/rest/dto/issue_types.rs
  src/rest/dto/mod.rs
  src/rest/routes/issuetypes.rs
  src/rest/routes/launch.rs
  src/rest/routes/steps.rs
  src/rest/state.rs
  src/schemas/ticket_metadata.schema.json
  src/services/kanban_sync.rs
  src/steps/manager.rs
  src/steps/session.rs
  src/ui/collection_dialog.rs
  src/ui/dialogs/confirm.rs
  src/workflow_gen/agnt.rs
  src/workflow_gen/command.rs
  src/workflow_gen/export.rs
  src/workflow_gen/mod.rs
Due: rust

bundle update gems
  docs/Gemfile.lock
Due: none

cmux is tight
  docs/getting-started/platform-support.md
  docs/getting-started/sessions/cmux.md
  docs/startup/index.md
  scripts/cicdprep.sh
  src/agents/agent_switcher.rs
  src/agents/cmux.rs
  src/agents/launcher/cmux_session.rs
  src/agents/mod.rs
  src/app/data_sync.rs
  src/startup/mod.rs
  src/ui/dashboard.rs
  src/ui/status_panel.rs
Due: rust

fixes
  docs/cli/index.md
  docs/schemas/openapi.json
  src/api/providers/kanban/openspec.rs
  vscode-extension/webview-ui/types/defaults.ts
Due: rust

ratatui 0.30 migration ; sca fixes ; version rev to 0.2.5; cargo-llvm-cov withtool, tui-textarea
  .github/workflows/build.yaml
  .github/workflows/docs.yml
  .github/workflows/integration-tests-matrix.yml
  .github/workflows/integration-tests.yml
  .github/workflows/opr8r.yaml
  .github/workflows/vscode-extension.yaml
  .github/workflows/zed-extension.yaml
  Cargo.lock
  Cargo.toml
  VERSION
  agnt-plugin/manifest.json
  agnt-plugin/package.json
  deny.toml
  docs/_config.yml
  docs/schemas/openapi.json
  opr8r/Cargo.lock
  opr8r/Cargo.toml
  src/ui/form_field.rs
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/webhook-server.ts
  zed-extension/Cargo.lock
  zed-extension/Cargo.toml
  zed-extension/extension.toml
Due: rust, vscode-extension

lockfile drift ; support for windows arm builds
  .github/workflows/build.yaml
  .github/workflows/opr8r.yaml
  .github/workflows/vscode-extension.yaml
  README.md
  docs/downloads/index.md
  docs/getting-started/installation.md
  docs/getting-started/platform-support.md
  opr8r/Cargo.lock
  opr8r/README.md
  vscode-extension/src/operator-binary.ts
Due: vscode-extension

further tool refinement
  src/agents/proof_review.rs
  ui/src/routes/ModelProvidersPage.tsx
Due: rust

getting closer to passing builds
  docs/schemas/config.json
  docs/schemas/config.md
  docs/schemas/issuetype.md
  docs/schemas/openapi.json
  docs/schemas/state.json
  docs/schemas/state.md
  shared/types.ts
  src/rest/routes/launch.rs
  src/schemas/issuetype_schema.json
Due: rust

SCA updates, classic
  Cargo.lock
  opr8r/Cargo.lock
  src/state.rs
  vscode-extension/package-lock.json
  vscode-extension/package.json
Due: rust

closer to the built goal
  bindings/AgentState.ts
  src/agents/launcher/llm_command.rs
  src/agents/sync.rs
  src/llm/detection.rs
  src/llm/mod.rs
  src/state.rs
  tests/launch_common/mod.rs
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/issuetype-service.ts
  vscode-extension/src/ticket-provider.ts
  vscode-extension/test/suite/issuetype-service.test.ts
  vscode-extension/test/suite/ticket-provider.test.ts
Due: rust, vscode-extension

cicd fixes
  .github/workflows/integration-tests.yml
  bump-version.sh
  charts/operator/Chart.yaml
  coder-module/main.tf
  opr8r/src/api.rs
  scripts/cicdprep.sh
  tests/gitprovider_integration.rs
  ui/src/components/TicketDetailPanel.tsx
  vscode-extension/src/api-client.ts
Due: vscode-extension, opr8r

cicd fixes more
  .github/workflows/integration-tests-matrix.yml
  .github/workflows/vscode-extension.yaml
  CLAUDE.md
  tests/rest_api_integration.rs
  vscode-extension/webview-ui/types/defaults.ts
Due: none

fixes
  vscode-extension/src/webhook-server.ts
Due: vscode-extension

more fixes
  .github/workflows/build.yaml
  coder-module/main.tf
  package.json
  ui/src/right-panel.tsx
  ui/src/routes/onboarding/OnboardingPage.tsx
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/pnpm-lock.yaml
Due: none

windows .gitattributes
  .gitattributes
Due: none

race condition fixes
  src/auth/schema.rs
Due: rust

chart fixes further
  .github/workflows/build.yaml
  Dockerfile
  bindings/AgentState.ts
  bindings/RestApiConfig.ts
  bindings/SetupExecutionTarget.ts
  bindings/ShutdownRecovery.ts
  charts/operator/README.md
  charts/operator/templates/NOTES.txt
  charts/operator/templates/_helpers.tpl
  charts/operator/templates/statefulset.yaml
  charts/operator/values.schema.json
  charts/operator/values.yaml
  docs/getting-started/platforms/kubernetes.md
  docs/schemas/openapi.json
  src/agents/launcher/mod.rs
  src/config.rs
  src/rest/dto/setup.rs
  src/rest/error.rs
  src/rest/mod.rs
  src/rest/routes/launch.rs
  src/rest/routes/probes.rs
  src/rest/routes/setup.rs
  src/rest/state.rs
  src/state.rs
  src/ui/in_progress_panel.rs
  src/ui/session_preview.rs
  tests/distribution_bundling.rs
  ui/src/routes/onboarding/OnboardingPage.module.css
  ui/src/routes/onboarding/OnboardingPage.tsx
  ui/src/routes/onboarding/steps.tsx
  ui/src/routes/onboarding/types.ts
Due: rust

order of deps
  .github/workflows/build.yaml
  tests/helm_chart.rs
Due: none

fixes
  Cargo.lock
Due: none

Path conditions:
  rust: any of: src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
  typescript: any of: backstage-server/packages/, backstage-server/src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
  vscode-extension: any of: vscode-extension/src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
  opr8r: any of: opr8r/src/, but not: tests/**, backstage-server/e2e/**, vscode-extension/test/**
