Repository untra/operator: changes, and which Codecov flags are due for each by the changed paths.
All: rust, typescript

backstage pr not on build
  .github/workflows/backstage.yaml
  backstage-server/README.md
  backstage-server/knip.json
  backstage-server/package.json
  backstage-server/packages/app/src/AppNew.tsx
  backstage-server/packages/app/src/components/home/OperatorHomePage.tsx
  backstage-server/packages/app/src/components/home/widgets/ActiveAgentsCard.tsx
  backstage-server/packages/app/src/components/home/widgets/IssueTypesCard.tsx
  backstage-server/packages/app/src/components/home/widgets/QueueStatusCard.tsx
  src/agents/sync.rs
  src/agents/tmux.rs
  src/config.rs
  src/issuetypes/mod.rs
Due: rust, typescript

more test cleanup and implementation
  backstage-server/knip.json
  backstage-server/packages/app/src/AppNew.tsx
  src/agents/launcher/tests.rs
  src/notifications/linux.rs
Due: rust, typescript

ci updates, knip ignore critical files no touchy
  .github/workflows/backstage.yaml
  .github/workflows/build.yaml
  backstage-server/knip.json
Due: none

e2e tests in cicd use playwright in binary mode
  .github/workflows/backstage.yaml
  backstage-server/playwright.config.ts
Due: none

sure playwright auth
  backstage-server/.gitignore
  backstage-server/e2e/README.md
  backstage-server/e2e/auth.ts
  backstage-server/e2e/catalog.spec.ts
  backstage-server/e2e/issuetypes.spec.ts
  backstage-server/e2e/plugins.spec.ts
  backstage-server/playwright.config.ts
  backstage-server/src/standalone.ts
Due: typescript

docs site rebuild
  docs/_site/404.html
  docs/_site/agents/index.html
  docs/_site/architecture/index.html
  docs/_site/architecture/vibe-kanban-comparison/index.html
  docs/_site/backstage/taxonomy/index.html
  docs/_site/cli/index.html
  docs/_site/configuration/index.html
  docs/_site/downloads/index.html
  docs/_site/getting-started/index.html
  docs/_site/index.html
  docs/_site/issue-types/index.html
  docs/_site/kanban/index.html
  docs/_site/llm-tools/index.html
  docs/_site/schemas/api/index.html
  docs/_site/schemas/config.json
  docs/_site/schemas/issuetype/index.html
  docs/_site/schemas/metadata/index.html
  docs/_site/schemas/state.json
  docs/_site/shortcuts/index.html
  docs/_site/sitemap.xml
  docs/_site/startup/index.html
  docs/_site/tickets/index.html
  docs/_site/tmux/index.html
Due: none

clippy and knip fixes
  backstage-server/bun.lock
  backstage-server/knip.json
  backstage-server/packages/app/package.json
  bun.lock
  src/notifications/service.rs
Due: rust, typescript

integration tests kickoff adjustment, defs for jira and linear tests
  .github/workflows/integration-tests.yml
  src/api/providers/kanban/jira.rs
  src/api/providers/kanban/linear.rs
Due: rust

clippy and niche github fixes (depth 0 maybe sus lets find out)
  .github/workflows/integration-tests.yml
  src/api/providers/kanban/linear.rs
Due: rust

make integration tests part of build.yaml coverage report
  .github/workflows/build.yaml
  tests/git_integration.rs
Due: none

git worktree test updates what god hath wraught
  src/git/worktree.rs
  tests/git_integration.rs
Due: rust

versions and gitignore updates
  .gitignore
  backstage-server/package.json
  vscode-extension/operator-terminals-0.1.10.vsix
  vscode-extension/out/src/webhook-server.js
  vscode-extension/package.json
Due: none

commit lockfile, rest_api_integration
  tests/rest_api_integration.rs
  vscode-extension/package-lock.json
Due: none

fix ci: remove VsCodeTicketType import, add vscode-test config
  shared/types.ts
  src/agents/mod.rs
  src/agents/vscode_types.rs
  src/bin/generate_types.rs
  vscode-extension/.vscode-test.mjs
  vscode-extension/src/types.ts
Due: rust

update gitignore
  .gitignore
Due: none

cicd vscode-extension test update
  vscode-extension/test/suite/extension.test.ts
Due: none

launch ticket uses the api
  bindings/LaunchTicketResponse.ts
  src/agents/launcher/llm_command.rs
  src/agents/launcher/step_config.rs
  src/rest/dto.rs
  src/rest/openapi.rs
  src/rest/routes/launch.rs
  src/schemas/issuetype_schema.json
  vscode-extension/scripts/copy-types.js
  vscode-extension/src/api-client.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/launch-command.ts
  vscode-extension/src/launch-manager.ts
Due: rust

more small changes, tests additions
  CLAUDE.md
  bindings/LaunchTicketRequest.ts
  src/agents/launcher/llm_command.rs
  src/agents/launcher/mod.rs
  src/agents/launcher/options.rs
  src/agents/launcher/tests.rs
  src/app.rs
  src/collections/backstage_full/ASSESS.json
  src/collections/mod.rs
  src/collections/operator/ASSESS.json
  src/projects.rs
  src/rest/dto.rs
  src/rest/routes/launch.rs
  src/rest/state.rs
  src/startup/templates.rs
  vscode-extension/src/extension.ts
  vscode-extension/src/launch-manager.ts
  vscode-extension/src/terminal-manager.ts
  vscode-extension/src/ticket-provider.ts
Due: rust

f
  vscode-extension/src/status-provider.ts
Due: none

tests
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/test/fixtures/api/health-response.json
  vscode-extension/test/fixtures/api/issuetypes-response.json
  vscode-extension/test/fixtures/api/launch-response.json
  vscode-extension/test/fixtures/api/queue-paused-response.json
  vscode-extension/test/fixtures/api/queue-resumed-response.json
  vscode-extension/test/fixtures/api/review-approved-response.json
  vscode-extension/test/fixtures/api/review-rejected-response.json
  vscode-extension/test/fixtures/api/sync-response.json
  vscode-extension/test/fixtures/tickets/all-fields.md
  vscode-extension/test/fixtures/tickets/empty-frontmatter.md
  vscode-extension/test/fixtures/tickets/minimal-ticket.md
  vscode-extension/test/fixtures/tickets/no-frontmatter.md
  vscode-extension/test/fixtures/tickets/valid-ticket.md
  vscode-extension/test/suite/api-client.test.ts
  vscode-extension/test/suite/extension.test.ts
  vscode-extension/test/suite/integration.test.ts
  vscode-extension/test/suite/issuetype-service.test.ts
  vscode-extension/test/suite/ticket-parser.test.ts
Due: none

normalize windows line endings
  .gitignore
  vscode-extension/src/ticket-parser.ts
  vscode-extension/test/suite/ticket-parser.test.ts
Due: none

drop support for x86 macos (too old), windows arm (too new)
  .github/workflows/build.yaml
  .github/workflows/opr8r.yaml
  .github/workflows/vscode-extension.yaml
  README.md
  docs/downloads/index.md
  tests/kanban_integration.rs
  vscode-extension/src/operator-binary.ts
Due: none

test coverage refactor
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/test/suite/index.ts
  vscode-extension/test/suite/operator-binary.test.ts
Due: none

windows executable name fix
  vscode-extension/test/suite/operator-binary.test.ts
Due: none

reinforce operator build
  .github/workflows/build.yaml
  .github/workflows/vscode-extension.yaml
Due: none

copyFileWithRetry and explicit bash shell for build
  .github/workflows/build.yaml
  backstage-server/scripts/generate-embeds.ts
Due: none

refine opr8r build process for releases
  .github/workflows/build.yaml
  .github/workflows/opr8r.yaml
Due: none

windows specific
  backstage-server/scripts/generate-embeds.ts
Due: none

just trying things lol
  backstage-server/scripts/generate-embeds.ts
Due: none

windows flavors
  backstage-server/scripts/generate-embeds.ts
Due: none

windows downloads words
  README.md
  docs/downloads/index.md
  docs/getting-started/sessions/index.md
  docs/getting-started/sessions/tmux/index.md
  docs/getting-started/sessions/vscode.md
  src/backstage/runtime.rs
Due: rust

Path conditions:
  rust: any of: src/, but not: tests/**, backstage-server/e2e/**
  typescript: any of: backstage-server/packages/, backstage-server/src/, but not: tests/**, backstage-server/e2e/**
